name : Continuous Deployment

# only runs when the is actually merged to main branch
on :
  push:
    # only when there is a push on main branch
    branches : [""]    

jobs:
  build-and-deploy:
    runs-on :

    steps :
    # setup
    - name : Setup
      uses : actions/checkout@v4

    # dockerhub login
    - name : Login to Docker
      uses : docker/login-action@v2
      with :
        username : ${{  }}  # dockerhub username
        password : ${{  }}  # dockerhub access token

    # build and push the backend image to dockerhub
    - name : Build and Push Backend
      uses : docker/build-push-action@v5
      with :
        context :             # folder where the script is to be implemented
                              # command that ensure push
        tags : ${{ secrets.DOCKER_USERNAME }}/ecommerce-application-backend:latest

    # build and push the frontend image to dockerhub
    - name :  Build and Push Frontend
      uses : docker/build-push-action@v5
      with :
        context :             # folder where the script is to be implemented
        push : true
        tags :                # the name that our file would have
